name: Development

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make docker
      - run: make build
      - uses: actions/upload-artifact@v4
        with:
          name: tabssh-dev-${{ github.sha }}
          path: binaries/*
